h1 Hello world!
.row
  .col-xs-6
    fieldset
  .col-xs-6
    form#search-form
      .input-group
        input.form-control placeholder=('Search for...') type='search'
        span.input-group-btn
          button.btn.btn-secondary type='submit' Go!
    #search-results.row
